@model Timewaster.Web.ViewModels.PlanViewModel
@{
    ViewData["Title"] = "Planning";
}

<div class="container">
    <div>

    </div>
    <table class="table kanban-table">
        <thead>
            <tr>
                <th scope="col">Story</th>
                @foreach (var status in Model.Statuses)
                {
                    <th scope="col">@status.Name</th>
                }
                <th scope="col">+</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sprintStory in Model.SprintStories)
            {
            <tr>
                <th scope="row">
                    <div class="card story-card"></div>
                </th>
                @foreach (var status in Model.Statuses)
                {
                <th scope="row">
                    @foreach (var item in sprintStory.GroupOfIssues)
                    {
                        <div class="card issue-card"></div>
                    }
                    <div class="card issue-empty-card">+</div>
                </th>
                }
            </tr>
            }
            <tr>
                <th scope="row"><div class="card story-empty-card"></div></th>
            </tr>
        </tbody>
    </table>
</div>