@model Timewaster.Web.ViewModels.PlanViewModel
@{
    ViewData["Title"] = "Planning";
}

<div class="container">
    <div>

    </div>
    <table class="table kanban-table">
        <thead>
            <tr>
                <th scope="col">Story <span><a class="text-dark" asp-area="" asp-controller="Plans" asp-action="CreateStory">+ add story</a></span></th>
                @foreach (var status in Model.Statuses)
                {
                    <th scope="col">@status.Name</th>
                }
                <th scope="col">+</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sprintStory in Model.SprintStories)
            {
            <tr>
                <th scope="row">
                    <div class="card story-card">
                        <div class="card-body">
                            <h5 class="card-title">@sprintStory.Story.Name</h5>
                            <p class="card-text card-desc-text">@sprintStory.Story.Description</p>
                        </div>
                    </div>
                </th>
                @foreach (var item in sprintStory.GroupOfIssues)
                {
                <th scope="row">
                @if (item == sprintStory.GroupOfIssues.First())
                {
                    <a class="text-dark" asp-area="" asp-controller="Plans" asp-action="CreateIssue" asp-route-sprintid="@Model.Sprint.Id">+ add issue</a>
                }
                    <div class="card issue-card">
                        <div class="card-body">

                        </div>
                    </div>
                </th>
                }
            </tr>
            }
        </tbody>
    </table>
</div>