@model Timewaster.Web.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<a class="text-dark" asp-area="" asp-controller="Projects" asp-action="Create">+ Project</a>
<div class="container-fluid">
    @foreach (var project in Model.Projects)
    {
    <a class="text-dark text-decoration-none" asp-area="" asp-controller="Projects" asp-action="Index" asp-route-id="@project.Id">
        <div class="card custom-card">
            <div class="card-body">
                <h5 class="card-title">@project.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@project.ReferenceId</h6>
                <p class="card-text card-desc-text">@project.Description</p>
            </div>
        </div>
    </a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

